.alert-notify{
    top: 100px;
    z-index: 100000000;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    font-family: Roboto,Arial, Helvetica Neue;
    font-weight: bold;
    text-align: center;
    color: white;
    right: 0px;

    /*Animation parameters*/
    opacity: 0;
    width: 0px;
    height: 0px;
}

.alert-notify #title{
    /*margin-top: 20px;*/
    font-size: 23px;
    font-weight: 900;
}

.correct-notify{
    border-top: 6px solid #2ca737;
    background-color: #3c3c3b;
}

.incorrect-notify{
    border-top: 6px solid #f00;
    background-color: #3c3c3b;
}

.log-notify{
    border-top: 6px solid #f69600;
    background-color: #3c3c3b;
}

/*
    Key Frames animation
    Start animation and end animation settings
*/

.animationStart{
    -webkit-animation: .3s fadeIn;
            animation: .3s fadeIn;
}

.animationEnd{
    -webkit-animation: .3s fadeOut;
            animation: .3s fadeOut;
}

@keyframes fadeIn{
    from{
        width   : 0%;
        opacity : 0;
    }

    to{
        width   : 30%;
        opacity : 1;
    }
}

@keyframes fadeOut{
    from{
        width   : 30%;
        opacity : 1;
    }

    to{
        width   : 0%;
        opacity : 0;
    }
}
