.alert-notify{
    position: fixed;/*Position */

    text-align: center;

    /*intial position*/
    top: 10vh;
    right: 0px;
    padding: 0px 10px 0px 10px;
    opacity: 0;

    color: white;

    width: 0px;
    height: 100px;

    font-family: Roboto,Arial, Helvetica Neue;
}

.alert-notify #title{
    font-size: 20px;
    font-weight: bold;
    height: 100%;
}

.correct-notify{
    border-top: 6px solid #2ca737;
    background-color: #3c3c3b;
}

.incorrect-notify{
    border-top: 6px solid #f00;
    background-color: #3c3c3b;
}
